body
{
    background-color: #11132F !important; 
    color: white;
    margin-left: 10%;
    margin-right:10%;
    
 
}

h1,h2,h3,h4,h5
{
    padding-top: 3px;
    text-align: center;
}

#img-profile
{
    border-radius: 50%;
    border: 4px solid white;
    margin-top: 10px;
    
}

form
{
    padding: 50px;
    margin-right: auto;
    margin-left: auto;
    width:100%;
    display:block;
}
input[type="text"]
{
	width: 95%;
	padding: 4.5% 10px;
	border: none;
	outline: none;
	color: black;
    margin-bottom: 7%;
    margin-left: auto;
    margin-right: auto;
}

input[type="password"]
{
	width: 95%;
	padding: 4.5% 10px;
	border: none;
	outline: none;
	color: black;
    margin-bottom: 7%;

}

input[type="submit"]
{
	padding: 3.9% 0%;
	border: none;
	width: 58%;
	outline: none;
	letter-spacing: 1px;
	font-weight: 600;
	color: white;
	background: black;
	text-transform: uppercase;
	cursor: pointer;
	margin-left: 21%;
    margin-right: 21%;
    margin-top:15%;
}
input[type="email"]
{
	width: 95%;
	padding: 4.5% 10px;
	border: none;
	outline: none;
	color: black;
    margin-bottom: 7%;
    margin-left: auto;
    margin-right: auto;
}
.center
{
    text-align: center;
}

#title
{
    text-align: center;
    font-size: 40px;
    letter-spacing: 5px;
}

.top-wind
{
    padding: 5px;
}

.wind-content
{
    margin: 5px;
    background-color: #ab1467;
    
}
.line
{
    display: block;
    background-color: white;
    width: 50px;
    height: 2px;
    margin: 10px auto;
    padding 5px;
}

#social
{
    display: flex;
    padding-bottom: 15px;
}
#followers
{
    background-color: white;
	color: black;
	float: left;
	width: 50%;
	border-right: 1px solid gray;
    
    
}

#following
{
    background-color: white;
	color: black;
	float: left;
	width: 50%;
	border-right: 1px solid gray;
}
.wind-title
{
    background-color: white;
    color: black;
    
}
.in
{
    padding: 50px;
}

.media-content
{
    background-color: #fff;
    color: #000;
}
.media-img
{
    width: 100%;
    
}
#footer
{
    text-align: center;
    font-size: 20px;
}